[flake8]
ignore =
    # Missing docstring in __init__
		D107
    # Missing docstring in public package
    D104
    # Missing docstring in module
    D100
    # line break before binary operator
    W503
max-line-length = 88
exclude =
    .git,
    __pycache__,
    .mypy_cache,
    .pytest,
    venv,
    tests
max-complexity = 6
show_source = true
