[flake8]
ignore =
    # Missing docstring in public package
    D104
    # Missing docstring in module
    D100
max-line-length = 88
exclude =
    .git,
    __pycache__,
    .mypy_cache,
    .pytest,
max-complexity = 10
